@{
    ViewData["Title"] = "Home Page";
}
@* index page let's go  *@
<div class="text-center">
    <h1 class="display-4">Joel Hilton Movie List</h1>
    <center>
        <img src="~/img/JoelHilton.jpg" />
    </center>
</div>
