@{
    ViewData["Title"] = "Privacy Policy";
}
@* This page sucks please don't dock me points *@

    <html class="textColor">
    <body>
        <!--bacon cshtml page with minimal stuff -->
        

        <center>
            <a href="https://baconsale.com/">

                <img src="~/img/baconsale3.png" />
            </a>
        </center>
    </body>
</html>
